@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    font-size: 10px;
}

h1 {
    font-size: 3rem;
    color: black;
}

p {
    color: black;
}

body {
    width: 100%;
    margin: 0;
    overflow: hidden;
}

/*  Menu Styling  */


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    font-size: 2rem;
    font-family: sans-serif;
}

#playerSelectors {
    width: 100%;
    flex-direction: row;
}

.playerSelector {
    width: 100%;
}

#right {
    background-color: rgb(155, 155, 155);
}

#left {
    background-color: rgb(26, 26, 26);
}

button {
    font-size: 4rem;
    font-family: sans-serif;
    background-color: black;
    color: rgb(241, 241, 241);
    transition: all ease-in-out 0.2s;
}

button:hover {
    font-size: 4.5rem;
    background-color: rgb(95 0 0);
    color: white;
    cursor: pointer;
}

#startButton {
    position: absolute;
    width: 20rem;
    height: 8rem;
    z-index: 2;
}

#startButton:hover {
    width: 21rem;
    height: 9rem;
}

/* Form Styling */

.inputName{
    appearance: none;
    margin: 30px 0 30px 0;
    width: 20rem;
    height: 4rem;
    font-size: 2rem;
    font-family: sans-serif;
    border: 2px solid rgb(196, 196, 196);
    background-color: rgba(255, 255, 255, 0.021);
    color: rgb(196, 196, 196);
    outline: none;
}

.inputName:focus-visible{
    outline: 1px solid rgb(255, 255, 255);
}

#name2 {
    color: black;
    border: 2px solid rgb(26, 26, 26);
}

form {
    position: relative;
    z-index: 3;
    box-sizing: border-box;
}

#player1 {
    height: 50vh;
    border: 4px solid rgb(155, 155, 155);
}

#player2 {
    height: 50vh;
    border: 4px solid rgb(26, 26, 26);
}

#player2 .label {
    color: rgb(12, 12, 12);
}

#toggleAI {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 5rem;
    font-size: 3.5rem;
}

.label {
    height: auto;    
}

.playerWeapon {
    width: 30rem;
    height: 10rem;
}

/* Personalized Radio Buttons*/

.radioContainer {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    margin-top: 3rem;
    margin-left: 1rem;
}

.radioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radioButton {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 7.5rem;
    width: 7.5rem;
    background-color: rgba(255, 255, 255, 0.7);
    transition: all linear 0.1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.radioContainer:hover input ~ .radioButton {
    transform: scale(1.2);
    border: 3px solid rgb(61, 0, 0);
}

.radioContainer input:checked ~ .radioButton {
    border: 3px solid rgb(61, 0, 0);
}

.radioContainer input:disabled ~ .radioButton {
    background-color: rgb(119, 0, 0)
}

.selection1 {
    left: 0;
}

.selection2 {
    left: 10rem;
}

.selection3 {
    left: 20rem;
}

/*  Tic Tac Toe Game Styling  */

#game {
    display: none;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(226, 226, 226);
}

#game h1 {
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
}

#gameBoard {
    margin: 3rem 0 3rem 0;
    width: 40rem;
    height: 40rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#gameControl {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#gameControl button {
    width: 20rem;
    height: 5rem;
}

#gameControl button:hover {
    width: 21rem;
    height: 6rem;
}

#restartButton:hover {
    background-color:rgb(47, 0, 61)
}

#finishButton:hover {
    background-color:rgb(94, 57, 9)
}

.box {
    width: 13rem;
    height: 13rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
}

.box:hover {
    cursor: pointer;
}

@keyframes in {
    0% { transform: scale(2); opacity: 0; visibility: hidden;  }
    100% { transform: scale(1); opacity: 1; visibility: visible; }
}

.movement {
    display: none;
    width: 80%;
    height: auto;
    animation: in 0.5s ease;
}

/* 3D Cube Animation for the menu */

@keyframes rotateY {
    0% {transform: translateZ(-75px) rotateY(   0deg) rotateX( 0deg);}
    25% {transform: translateZ(-75px) rotateY( -90deg) rotateX( -90deg);}
    50% {transform: translateZ(-75px) rotateY(-180deg) rotateX( -180deg);}
    75% {transform: translateZ(-75px) rotateY(  -270deg) rotateX( -270deg);}
    100% {transform: translateZ(-75px) rotateY(   -360deg) rotateX( -360deg);}
}

@keyframes rotateX {
    0% {transform: translateZ(-75px) rotateX( 0deg);}
    25% {transform: translateZ(-75px) rotateX( -90deg);}
    50% {transform: translateZ(-75px) rotateX( -180deg);}
    75% {transform: translateZ(-75px) rotateX( -270deg);}
    100% {transform: translateZ(-75px) rotateX( -360deg);}
}

@keyframes moveScene {
    0% { top: 5%; left: 5%;}
    5% { top: 25%; left: 25%;}
    10% { top: 50%; left: 50%;}
    15% { top: 75%; left: 95%;}
    20% { top: 75%; left: 50%;}
    25% { top: 75%; left: 25%;}
    30% { top: 75%; left: 5%;}
    35% { top: 50%; left: 25%;}
    40% { top: 25%; left: 50%;}
    45% { top: 5%; left: 95%;}
    50% { top: 5%; left: 50%;}
    55% { top: 5%; left: 25%;}
    60% { top: 5%; left: 5%;}
    65% { top: 50%; left: 5%;}
    70% { top: 75%; left: 5%;}
    75% { top: 75%; left: 50%;}
    80% { top: 75%; left: 95%;}
    85% { top: 25%; left: 95%;}
    90% { top: 5%; left: 95%;}
    95% { top: 5%; left: 25%;}
    100% { top: 5%; left: 5%;}
}

#container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.scene {
    width: 200px;
    height: 200px;
    perspective: 600px;
    position: absolute;
    top: 5%;
    left: 5%;
    animation: moveScene 20s linear infinite;
}


.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-75px);
    transition: transform 1s;
    margin-bottom: 20px;
    animation: rotateY 4s linear 0s infinite;
}

.cube__face {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 3px dashed rgb(26, 26, 26);
    background: rgba(155, 155, 155, 0.301);
}

.cube__face--front {
    transform: rotateY(0deg) translateZ(75px);
    
}
.cube__face--right {
    transform: rotateY(90deg) translateZ(75px);
    
}
.cube__face--back {
    transform: rotateY(180deg) translateZ(75px);
}
.cube__face--left {
    transform: rotateY(-90deg) translateZ(75px);
}
.cube__face--top {
    transform: rotateX(90deg) translateZ(75px);
}
.cube__face--bottom {
    transform: rotateX(-90deg) translateZ(75px);
}

@media (max-width: 1400px) {
    #player1 {
        height: 60vh;
    }
    
    #player2 {
        height: 60vh;
    }

    html {
        font-size: 9px;
    }

    #game h1 {
        font-size: 4.5rem;
    }
}

@media (max-width: 960px){
    body {
        overflow-y: auto;
    }

    #menu {
        height: auto;
        overflow-x: hidden;
    }

    #playerSelectors {
        flex-direction: column;
        height: auto;
    }   
    
    .playerSelector {
        height: 100vh;
    }

    html {
        font-size: 10px;
    }

    #container {
        height: 200%;
    }

  
}

@media (max-width: 500px) {
    #game h1 {
        font-size: 3.5rem;
    }

    #gameControl {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 13rem;
    }

    #gameBoard {
        width: 30rem;
        height: 30rem;
    }

    .box {
        width: 10rem;
        height: 10rem;
    }

    #player1 {
        height: 70vh;
    }
    
    #player2 {
        height: 70vh;
    }

    #game {
        height: 120vh;
    }
}